@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
* {
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fbfbfb;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

button {
  border: none;
  background-color: transparent;
}

table {
  width: 100%;
  border-collapse: collapse;
  position: relative;
}

thead tr th {
  font-weight: 500;
  text-align: left;
  background-color: #fafafa;
}

tbody tr:nth-child(even) {
  background-color: #fafafa;
}

th,
td {
  padding: 8px;
  overflow-wrap: break-word;
}

.table-element {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
  margin: 20px auto;

  .table-header {
    display: flex;
    align-items: center;

    .table-search {
      width: 80%;
      position: relative;
      border: 1px solid #f8f8f8;

      .search-input {
        border: none;
        padding: 14px 20px;

        &:focus {
          box-shadow: none;
        }
        &::placeholder {
          color: #9599a0;
        }
      }

      .search-icon {
        position: absolute;
        top: 15px;
        right: 15px;
      }
    }

    .table-filter {
      display: flex;
      margin-left: 20px;
      margin-right: 14px;
      justify-content: center;
      padding: 14px 24px;
      background-color: #ffffff;
      border-radius: 8px;
      border: 1px solid #f8f8f8;
    }

    .table-export {
      border: 1px solid #f8f8f8;

      .btn-secondary {
        background-color: #ffffff !important;
        color: #1d204f !important;
        border: none;
        padding: 14px 20px;
      }
      .dropdown-toggle::after {
        margin-left: 11px !important;
        vertical-align: 0.175em !important;
      }

      .dropdown-menu {
        border: none;
        &.show {
          inset: 17px auto auto 0px !important;
          padding: 12px 20px !important;
          border-radius: 8px !important;
          box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.03);
        }
      }

      .dropdown-item {
        padding: 12px 20px;

        &:hover {
          border-radius: 8px;
          padding: 12px 20px;
        }
      }
    }
  }
  .table-filter-detail {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 8px 14px rgba(0, 0, 0, 0.03);

    .filter-form {
      width: 65%;
      display: flex;
      justify-content: space-between;
      flex-direction: column;

      > div {
        display: flex;
        gap: 50px;
        justify-content: space-between;
        align-items: center;

        .filter-div-btn{
          padding-top: 30px;
        }

        .mb-3 {
          width: 80%;

         
    
          input ,.form-select{
            width: 313px;
            padding: 15px;
            border: none;
            background-color: #F5F5F5;

            &:focus {
              box-shadow: none;
            }
          }


        }
        
        .reset-link {
          color: #00b04e;
          padding-left: 42px;
        }
      }
    }
    .filter-btn{
      width: 148px;
      height: 48px;
      background: #1D204F;
    }
  }

  .table-footer {
    display: flex;
  }
}

.pagination-container {
  display: flex;
  list-style-type: none;

  .pagination-item {
    padding: 0 12px;
    height: 32px;
    text-align: center;
    margin: auto 4px;
    color: rgba(0, 0, 0, 0.87);
    display: flex;
    box-sizing: border-box;
    align-items: center;
    letter-spacing: 0.01071em;
    border-radius: 8px;
    line-height: 1.43;
    font-size: 13px;
    min-width: 32px;

    &.dots:hover {
      background-color: transparent;
      cursor: default;
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.04);
      cursor: pointer;
    }

    &.selected {
      background-color: rgba(0, 0, 0, 0.08);
    }

    .arrow {
      &::before {
        position: relative;
        content: "";
        display: inline-block;
        width: 0.4em;
        height: 0.4em;
        border-right: 0.12em solid rgba(0, 0, 0, 0.87);
        border-top: 0.12em solid rgba(0, 0, 0, 0.87);
      }

      &.left {
        transform: rotate(-135deg) translate(-50%);
      }

      &.right {
        transform: rotate(45deg);
      }
    }

    &.disabled {
      pointer-events: none;

      .arrow::before {
        border-right: 0.12em solid rgba(0, 0, 0, 0.43);
        border-top: 0.12em solid rgba(0, 0, 0, 0.43);
      }

      &:hover {
        background-color: transparent;
        cursor: default;
      }
    }
  }
}

.pagination-bar {
  width: 100%;
  display: flex;
  justify-content: right;
}
